@media (max-width:991px) {
    
}

.tabs-head {
    width: 100%;
    height: 50px;
    /* margin-bottom: 10px; */
    background-color: #fff;
    border-top: 1px solid rgb(240, 240, 240);
}

.tabs-head ul li {
    float: left;
    width: 20%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
#clearBoth{
    clear: both;
}
.tabs-head ul li a {
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid rgb(240, 240, 240);
    color: inherit;
}

.tabs-head ul li a:hover,
.tabs-head ul li a.active {
    color: rgb(11, 227, 253);
    border-bottom: 2px solid rgb(11, 227, 253);
}

.tabs-body {
    width: 100%;
    margin-top: 120px;
}

.tabs-body .tabs-contents {
    width: 100%;
    display: none;
}

.tabs-body>div.active {
    display: block;
}

.tabs-contents .order {
    margin-bottom: 10px;
    border-top: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
    background-color: #fff;
}

.order .order-header {
    width: 100%;
    height: 40px;
    margin-left: 0;
    line-height: 40px;
    background-color: rgb(11, 227, 253);
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.order .order-body {
    width: 100%;
    min-height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    /* line-height: 100%; */
}
.order .order-body>div{
    min-height: 25px;
    line-height: 25px;
}
.order .order-body>div>span{
    word-wrap: break-word;
}

.order .order-footer{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    border-top: 1px solid #ccc;
}
.order .order-footer button{
    width: 80px;
    height: 30px;
    margin-top: 5px;
    border-radius: 15px;
    border: none;
    background-color: rgb(255,79,79);
    color:white;
    margin-right: 5px;
}
.order .order-footer button:last-child{
    margin-right: 0;
}
.failorder {
    width: 100%;
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fff;
}
.price{
    width: 100%;
    height:30px;
    line-height: 30px;
    text-align: right;
    border-top: 1px solid rgb(240, 240, 240);
}
.tabs-contents{
    position: relative;
}
#loading{
    width: 100%;
    height: 100%;
    z-index: 999;
    position: absolute;
    background-color: rgb(240, 240, 240);
}
/* @media (min-width:992px) {
    .tabs-head ul li {
        width: 12%;
    }
    .order-body table tr td img {
        max-height: 100%;
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .tabs-head ul li {
        width: 18%;
    }
}

@media (max-width:767px) {
    .tabs-head ul li {
        width: 20%;
    }
} */