<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge,Chrome=1">
    <meta name="description" content="MEIDAI">
    <meta name="renderer" content="webkit">
    <meta name="author" content="MEIDAI">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>订单列表</title>

    <link rel="shortcut icon" href="/images/logo/logoico.ico">
    <link rel="Bookmark" href="/images/logo/logoico.ico">
    <link rel="stylesheet" href="/res/bootstrap-3.3.5/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/order_list.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
      <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>
    <!-- PC端顶部导航 -->
    <div class='navbar-pc'></div>
    <!-- 页面展示内容 -->
    <div id="loading">loading……</div>
    <div class="content" id="content" style="display:none">
        <div class="top-fixed">
            <div class="go-back">
                <span class="icon-back"></span>
                <p>我的订单</p>
            </div>
        </div>
        <div class="tabs-head">
            <ul class="tabs-ul">
                <li>
                    <a class="active" href="javascript:0">全部</a>
                </li>
                <li>
                    <a href="javascript:0">待扫描</a>
                </li>
                <li>
                    <a href="javascript:0">待支付</a>
                </li>
                <li>
                    <a href="javascript:0">生产中</a>
                </li>
                <li>
                    <a href="javascript:0">待收货</a>
                </li>
                <div id="clearBoth"></div>
            </ul>
        </div>
        <div class="tabs-body" id="tabs-body">
            <!-- 全部订单 -->
            <div class="tabs-contents active">
                <div class="failorder" v-if="isEmpty(toscan_array) && isEmpty(topay_array) && isEmpty(printing_array) && isEmpty(delivering_array) && isEmpty(done_array)">
                    没有相关订单
                </div>
                <div v-else>
                    <!-- 全部/待扫描 -->
                    <div class="order" v-for="(order,index) in toscan_array">
                        <div class="order-header">
                            <div class="status" v-text="order.status"></div>
                        </div>
                        <div class="order-body">
                            <div class="orderno">订单编号：
                                <span v-text="order.orderno"></span>
                            </div>
                            <div class="createdate">订单创建时间:
                                <span v-text="order.createdate"></span>
                            </div>
                            <div class="station">预约扫描地址：
                                <span v-text="order.station"></span>
                            </div>
                            <div class="appointmentdate">预约扫描时间：
                                <span v-text="order.appointmentdate"></span>
                            </div>
                        </div>
                        <div class="order-footer">
                            <button class="cancelOrder">取消预约</button>
                        </div>
                    </div>
                    <!--  全部/待支付-->
                    <div class="order" v-for="(deal,index) in topay_array">
                        <div class="order-header">
                            <div class="dealuuid" v-text="deal.uuid"></div>
                            <div class="status" v-text="deal.status"></div>
                        </div>
                        <div class="order-body">
                            <div class="orderno">订单编号：
                                <span v-text="deal.orderno"></span>
                            </div>
                            <div class="createdate">order创建时间:
                                <span v-text="deal.orderCreatedate"></span>
                            </div>
                            <div class="station">预约扫描地址：
                                <span v-text="deal.station"></span>
                            </div>
                            <div class="appointmentdate">预约扫描时间：
                                <span v-text="deal.appointmentdate"></span>
                            </div>
                            <div class="scandate">实际扫描时间：
                                <span v-text="deal.scandate"></span>
                            </div>
                            <div class="dealCreatedate">deal创建时间：
                                <span v-text="deal.dealCreatedate"></span>
                            </div>
                            <div class="price" v-text="'合计： ￥ '+deal.price"></div>
                        </div>
                        <div class="order-footer">
                            <span class="orderuuid-hidden">{{ deal.orderuuid }}</span>
                            <span class="dealuuid-hidden">{{ deal.uuid }}</span>
                            <button class="">付款</button>
                            <button class="to_order_details">订单详情</button>
                        </div>
                    </div>
                    <!-- 全部/生产中 -->
                    <div class="order" v-for="(deal,index) in printing_array">
                        <div class="order-header">
                            <div class="dealuuid" v-text="deal.uuid"></div>
                            <div class="status" v-text="deal.status"></div>
                        </div>
                        <div class="order-body">
                            <div class="orderno">订单编号：
                                <span v-text="deal.orderno"></span>
                            </div>
                            <div class="createdate">order创建时间:
                                <span v-text="deal.orderCreatedate"></span>
                            </div>
                            <div class="station">预约扫描地址：
                                <span v-text="deal.station"></span>
                            </div>
                            <div class="appointmentdate">预约扫描时间：
                                <span v-text="deal.appointmentdate"></span>
                            </div>
                            <div class="scandate">实际扫描时间：
                                <span v-text="deal.scandate"></span>
                            </div>
                            <div class="dealCreatedate">deal创建时间：
                                <span v-text="deal.dealCreatedate"></span>
                            </div>
                            <div class="price" v-text="'合计： ￥ '+deal.price"></div>
                        </div>
                        <div class="order-footer">
                            <span class="orderuuid-hidden">{{ deal.orderuuid }}</span>
                            <span class="dealuuid-hidden">{{ deal.uuid }}</span>
                            <button class="">催单</button>
                            <button class="to_order_details">订单详情</button>
                        </div>
                    </div>
                    <!-- 全部/待收货 -->
                    <div class="order" v-for="(deal,index) in delivering_array">
                        <div class="order-header">
                            <div class="dealuuid" v-text="deal.uuid"></div>
                            <div class="status" v-text="deal.status"></div>
                        </div>
                        <div class="order-body">
                            <div class="orderno">订单编号：
                                <span v-text="deal.orderno"></span>
                            </div>
                            <div class="createdate">order创建时间:
                                <span v-text="deal.orderCreatedate"></span>
                            </div>
                            <div class="station">预约扫描地址：
                                <span v-text="deal.station"></span>
                            </div>
                            <div class="appointmentdate">预约扫描时间：
                                <span v-text="deal.appointmentdate"></span>
                            </div>
                            <div class="scandate">实际扫描时间：
                                <span v-text="deal.scandate"></span>
                            </div>
                            <div class="dealCreatedate">deal创建时间：
                                <span v-text="deal.dealCreatedate"></span>
                            </div>
                            <div class="price" v-text="'合计： ￥ '+deal.price"></div>
                        </div>
                        <div class="order-footer">
                            <span class="orderuuid-hidden">{{ deal.orderuuid }}</span>
                            <span class="dealuuid-hidden">{{ deal.uuid }}</span>
                            <button class="">查看物流</button>
                            <button class="">确认收货</button>
                            <button class="to_order_details">订单详情</button>
                        </div>
                    </div>
                    <!-- 全部/已收货 -->
                    <div class="order" v-for="(deal,index) in done_array">
                        <div class="order-header">
                            <div class="dealuuid" v-text="deal.uuid"></div>
                            <div class="status" v-text="deal.status"></div>
                        </div>
                        <div class="order-body">
                            <div class="orderno">订单编号：
                                <span v-text="deal.orderno"></span>
                            </div>
                            <div class="createdate">order创建时间:
                                <span v-text="deal.orderCreatedate"></span>
                            </div>
                            <div class="station">预约扫描地址：
                                <span v-text="deal.station"></span>
                            </div>
                            <div class="appointmentdate">预约扫描时间：
                                <span v-text="deal.appointmentdate"></span>
                            </div>
                            <div class="scandate">实际扫描时间：
                                <span v-text="deal.scandate"></span>
                            </div>
                            <div class="dealCreatedate">deal创建时间：
                                <span v-text="deal.dealCreatedate"></span>
                            </div>
                            <div class="price" v-text="'合计： ￥ '+deal.price"></div>
                        </div>
                        <div class="order-footer">
                            <span class="orderuuid-hidden">{{ deal.orderuuid }}</span>
                            <span class="dealuuid-hidden">{{ deal.uuid }}</span>
                            <button class="to_order_details">订单详情</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 待扫描 -->
            <div class="tabs-contents div-toscan">
                <div class="failorder" v-if="isEmpty(topay_array)">
                    没有相关订单
                </div>
                <div v-else>
                    <div class="order" v-for="(order,index) in toscan_array">
                        <div class="order-header">
                            <div class="status" v-text="order.status"></div>
                        </div>
                        <div class="order-body">
                            <div class="orderno">订单编号：
                                <span v-text="order.orderno"></span>
                            </div>
                            <div class="createdate">订单创建时间:
                                <span v-text="order.createdate"></span>
                            </div>
                            <div class="station">预约扫描地址：
                                <span v-text="order.station"></span>
                            </div>
                            <div class="appointmentdate">预约扫描时间：
                                <span v-text="order.appointmentdate"></span>
                            </div>
                        </div>
                        <div class="order-footer">
                            <button class="cancelOrder">取消预约</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 待支付 -->
            <div class="tabs-contents div-topay">
                <div class="failorder" v-if="isEmpty(topay_array)">
                    没有相关订单
                </div>
                <div v-else>
                    <div class="order" v-for="(deal,index) in topay_array">
                        <div class="order-header">
                            <div class="dealuuid" v-text="deal.uuid"></div>
                            <div class="status" v-text="deal.status"></div>
                        </div>
                        <div class="order-body">
                            <div class="orderno">订单编号：
                                <span v-text="deal.orderno"></span>
                            </div>
                            <div class="createdate">order创建时间:
                                <span v-text="deal.orderCreatedate"></span>
                            </div>
                            <div class="station">预约扫描地址：
                                <span v-text="deal.station"></span>
                            </div>
                            <div class="appointmentdate">预约扫描时间：
                                <span v-text="deal.appointmentdate"></span>
                            </div>
                            <div class="scandate">实际扫描时间：
                                <span v-text="deal.scandate"></span>
                            </div>
                            <div class="dealCreatedate">deal创建时间：
                                <span v-text="deal.dealCreatedate"></span>
                            </div>
                            <div class="price" v-text="'合计： ￥ '+deal.price"></div>
                        </div>
                        <div class="order-footer">
                            <span class="orderuuid-hidden">{{ deal.orderuuid }}</span>
                            <span class="dealuuid-hidden">{{ deal.uuid }}</span>
                            <button class="">付款</button>
                            <button class="to_order_details">订单详情</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 生产中 -->
            <div class="tabs-contents div-printing">
                <div class="failorder" v-if="isEmpty(printing_array)">
                    没有相关订单
                </div>
                <div v-else>
                    <div class="order" v-for="(deal,index) in printing_array">
                        <div class="order-header">
                            <div class="dealuuid" v-text="deal.uuid"></div>
                            <div class="status" v-text="deal.status"></div>
                        </div>
                        <div class="order-body">
                            <div class="orderno">订单编号：
                                <span v-text="deal.orderno"></span>
                            </div>
                            <div class="createdate">order创建时间:
                                <span v-text="deal.orderCreatedate"></span>
                            </div>
                            <div class="station">预约扫描地址：
                                <span v-text="deal.station"></span>
                            </div>
                            <div class="appointmentdate">预约扫描时间：
                                <span v-text="deal.appointmentdate"></span>
                            </div>
                            <div class="scandate">实际扫描时间：
                                <span v-text="deal.scandate"></span>
                            </div>
                            <div class="dealCreatedate">deal创建时间：
                                <span v-text="deal.dealCreatedate"></span>
                            </div>
                            <div class="price" v-text="'合计： ￥ '+deal.price"></div>
                        </div>
                        <div class="order-footer">
                            <span class="orderuuid-hidden">{{ deal.orderuuid }}</span>
                            <span class="dealuuid-hidden">{{ deal.uuid }}</span>
                            <button class="">催单</button>
                            <button class="to_order_details">订单详情</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 待收货 -->
            <div class="tabs-contents div-delivering">
                <div class="failorder" v-if="isEmpty(delivering_array)">
                    没有相关订单
                </div>
                <div v-else>
                    <div class="order" v-for="(deal,index) in delivering_array">
                        <div class="order-header">
                            <div class="dealuuid" v-text="deal.uuid"></div>
                            <div class="status" v-text="deal.status"></div>
                        </div>
                        <div class="order-body">
                            <div class="orderno">订单编号：
                                <span v-text="deal.orderno"></span>
                            </div>
                            <div class="createdate">order创建时间:
                                <span v-text="deal.orderCreatedate"></span>
                            </div>
                            <div class="station">预约扫描地址：
                                <span v-text="deal.station"></span>
                            </div>
                            <div class="appointmentdate">预约扫描时间：
                                <span v-text="deal.appointmentdate"></span>
                            </div>
                            <div class="scandate">实际扫描时间：
                                <span v-text="deal.scandate"></span>
                            </div>
                            <div class="dealCreatedate">deal创建时间：
                                <span v-text="deal.dealCreatedate"></span>
                            </div>
                            <div class="price" v-text="'合计： ￥ '+deal.price"></div>
                        </div>
                        <div class="order-footer">
                            <span class="orderuuid-hidden">{{ deal.orderuuid }}</span>
                            <span class="dealuuid-hidden">{{ deal.uuid }}</span>
                            <button class="">查看物流</button>
                            <button class="">确认收货</button>
                            <button class="to_order_details">订单详情</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- 移动端底部tabs -->
    <!-- <div class="tabs_mobile"></div> -->

    <script src="/res/jquery-3.1.0.min.js"></script>
    <script src="/res/bootstrap-3.3.5/js/bootstrap.js"></script>
    <script src="/res/vueJS/vue.js"></script>
    <script src="/js/fswear.js"></script>
    <script src="/js/order_list.js"></script>
</body>
<html>