/*自定义*/
*{margin:0;padding:0;}
li{list-style: none;}

/*按钮的样式*/
/*/*.btn-info{background-color:#3fccea;}


.btn-default {
  color:#fff;
  background-color: #ff5f5f;
  /*border-color:#ff5f5f;*/
/*}

.btn-group-lg{


}
.btn-group-md{

	width:280px;height:60px;
	border:0px;

}

.btn-group-sm{
  	width:170px;height:40px;
  	border:0px;
}
.btn-group-xs{
 


}*/


/*.btn-nofocus:focus,
.btn-nofocus:active:focus,
.btn-nofocus.active:focus,
.btn-nofocus.focus,
.btn-nofocus:active.focus,
.btn-nofocus.active.focus {
	outline: none;
}
.btn-nofocus:focus,
.btn-nofocus.focus {
	background: rgb(255,95,95);
	text-decoration: none;
}

*/



.btn-lg{
    width:300px;height:70px;
}

.btn-md{
    width:280px;height:60px;
}

.btn-sm{
    width:200px;height:50px;
}

.btn-sm{
    width:170px;height:40px;
}

.btn-xs{
  
}



.btn-danger {
    color: #f2f2f2;
    background-color: #ff5f5f;
    border-color: #ff5f5f;
    border-radius: 10px;
}
.btn-danger:focus,
.btn-danger.focus {
    color: #f2f2f2;
    background-color: #db3232;
    border-color: #db3232;
    outline: none;
}


.btn-danger:hover {
    color: #f2f2f2;
    background-color: #d14242;
    border-color: #d14242;
}

.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
    color: #f2f2f2;
    background-color: #db3232;
    border-color: #db3232;
    outline: none;
}



.btn-info {
  color: #f2f2f2;
  background-color: #02c7f1;
  border-color: #02c7f1;
  border-radius: 10px;
}
.btn-info:focus,
.btn-info.focus {
  color: #f2f2f2;
  background-color: #0198b8;
  border-color: #0198b8;
  outline: none;
}
.btn-info:hover {
  color: #f2f2f2;
  background-color: #00b5d4;
  border-color: #00b5d4;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #f2f2f2;
  background-color: #02c7f1;
  border-color: #02c7f1;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #f2f2f2;
  background-color: #0198b8;
  border-color: #0198b8;
  outline: none;
}





/*横线点缀*/
.transverse-xs{width:300px;height:0px;border-top:1px solid #7D7C7D;margin:0 auto;margin-top: 30px}
.transverse{height:0px;border-top:1px solid #7D7C7D;margin:0 auto;}
/*用户头像*/
.nav-user-portrait{width:50px;height:50px;border-radius: 50%;}


/*阴影 */
.box-shadow{box-shadow: 3px 3px 2px #D2D2D2}

 /*标签的样式*/
.label{width:80px;height:20px;line-height: 15px;border-radius: 5px;display: inline-block;}
.label-danger{background:#ff4f4f;}
.label-info{background:#02c7f1;}


/*导航*/
.navbar-default{background:#02c7f1;border-radius: 0;height: 60px; color:#fff;border:0px solid #02c7f1;}
.navbar-nav{position: relative;}
.navbar .navbar-nav li a{color:#fff;line-height: 30px;}
.navbar .navbar-nav li a:hover{color:#fff;}
.navbar .navbar-nav li a:focus{color:#fff;}
.navbar .navbar-nav> .open > a,.navbar .navbar-nav> .open > a:focus,.navbar .navbar-nav> .open > a:hover {
        background-color: #fff;
        color: #02c7f1;}
.navbar-nav .dropdown-menu span a{color:#000;margin-left: 8px;}
.navbar-nav .dropdown-menu span a:hover{color:#000;}
.navbar-nav .dropdown-menu span a:first-child{margin-right: 10px;}
.num{width:15px;height:15px;background:#FF7272;border-radius: 50%;color:#f2f2f2;text-align:center;font-size:12px;line-height:15px;position:absolute;top:22px;left:45px;}
.dropdown li a{color:#000;}


.dropdown .dropdown-menu{border-top:0px;}


/*手机显示*/
.nav-top{width:100%;height:60px;background:#02c7f1;text-align: center;}    
#dropdownMenu1{background-color:transparent;border:0px;line-height: 48px;}
#dropdownMenu1 span{color:#fff;line-height: 48px;}
.nav-top span{float: right; line-height: 60px;margin-right: 20px;color:#fff;cursor: pointer;}


.navbar-logo{font-size: 32px;line-height: 60px;color:#fff;}
.navbar-logo:hover{font-size: 32px;line-height: 60px;color:#fff;text-decoration: none;}
.navbar-logo:focus{font-size: 32px;line-height: 60px;color:#fff;text-decoration: none;}
.nav-bottom{width:100%;height:60px;position: relative;background:#fff;/*border:0px;*/}
.navbar-header img{margin-top: 5px;margin-left: 20px;}
.nav-bottom .username{line-height: 60px;margin-left:85px;color:#02c7f1;width:100px;}
.nav-bottom .username a{color:#02c7f1;text-decoration: none;text-decoration: none;}
.nav-bottom .nav-bottom-language{position: absolute;top:0px;left:60%; width:123px;height:60px;line-height: 60px;}
.nav-bottom-language a{color:#02c7f1;text-decoration: none;}
.nav-bottom-language li:last-child{margin-left:60px;}  




/*我的主页*/
.transversae{height:0px;width:96px;border-top: 1px solid #ACABAC;}

.homepage{position: fixed;top:210px;left:12%;width:110px;}
.homepage ul{width:100px;}
.homepage li{margin-bottom: 15px;position: relative;}
.homepage li a{text-decoration:none;}
.homepage li:nth-child(1) a{color:#02c7f1;font-size: 24px;}
.homepage li:nth-child(3) a{color:#7D7C7D;font-size: 24px;}
.homepage li:nth-child(4) a{color:#7D7C7D;font-size: 18px;}
.homepage li:nth-child(5) a{color:#7D7C7D;font-size: 18px;}
.homepage li:nth-child(6) a{color:#7D7C7D;font-size: 18px;}
.homepage li:nth-child(8) a{color:#FF4F4F;font-size: 24px;}

.vertical-moulding{height:800px;width:1px;border:1px solid #EBEBEB;}


 
/*眼镜刻字页*/
.lettering{margin-right: 0 auto;text-align: center;margin-top: 150px;}
.lettering p{font-size: 28px;}
.lettering-top{width:60%;border:1px solid #EBEBEB;margin:0 auto;margin-top:30px;} 
.lettering-top img{width:80%;height:280px;}
.lettering-top p{text-align:left;margin-left:10%;}
.lettering-top input{width:40px;border-radius: 5px;border:1px solid #D2D2D2;}



/*服务消息页*/
.service-all{margin-top:200px;}
.service-long{position: absolute;left:-10%;height:570px;height:800px;width:1px;border:1px solid #EBEBEB;}
.service{width:366px;margin:0 auto;position: relative;margin-bottom: 30px;}
.service .transverse{width:500px;margin-top: 30px;}
.service .service-top{color:#7D7C7D;}
.service-top span:first-child{font-size: 28px;}
.service-top span:nth-child(2){font-size: 14px;line-height: 34px;}
.service-bottom{margin-top: 20px;}
.service-bottom p span{color:#02c7f1;}
.service button{position: absolute;top:0%;left:130%;background: transparent;border:0 solid;}




/*所有订单 */
.indent{/*border:1px solid blue;*/position: absolute;left:25%;width:50%;text-align: center;margin-top:100px;}
.indent-nav{border-bottom:1px solid #EBEBEB;position: relative;text-align: left;width:100%;height:50px;margin-top: 40px;}
.indent-nav li:first-child{margin-left: 0;/*color:#02c7f1;*/}
.indent-nav li{font-size: 18px;margin-left: 20px;color:#7D7C7D;line-height: 50px;height:50px;display: inline-block;}
.indent-nav li span{color:#7D7C7D;margin-left:20px;}
.indent-nav .nav-line { position:absolute; left:0; bottom:0; height:2px; line-height:2px; font-size:0; width:102px; background:#02c7f1;}

.indent-content{width:100%;border:1px solid #D2D2D2;margin-top: 15px;overflow: hidden;margin:15px 0 50px 0;}

.content-top{margin-top:-10px;}
.content-top .content-top-sm li:first-child{width:290px;height:50px;background:#F5F5F5;line-height: 50px;}
.content-top .content-top-sm li:nth-child(2){width:0;height: 0;border-top: 25px solid transparent;border-left: 20px solid #F5F5F5;border-bottom: 25px solid transparent;}
.content-top .content-top-xs li:first-child{width:100%;height:50px;background:#F5F5F5;line-height: 50px;margin-top: 9px;}
/*待付款*/
.content-top .content-top-sm li:nth-child(3){margin:25px 30px 0 25px;}
.content-top .content-top-xs li:nth-child(2){margin-top:25px;}
.content-bottom{margin:95px 0 50px 0;position: relative;/*border:1px solid red;*/overflow: hidden;}

.content-bottom .bottom-center span{display: block;margin-left: auto; margin-right: auto;margin-top:10px;}
.content-bottom .bottom-right{border-left:1px solid #EBEBEB;}

/*待扫描，已经过期*/
.bottom-center li{font-size:24px;}
.bottom-center big{font-size:80px;color:#EBEBEB;}
.content-bottom button{margin-top:30px;}

/*待扫描，预约时间的*/
.bottom-center p{font-size:80px;color:#7D7C7D;}






           

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media all and (min-width: 1200px) {

    /*导航*/
    .nav-container {width: 1200px;}
    /*.nav-user-portrait{margin:5px 0px 0 85%;}*/
    .vertical-moulding{position: absolute;top:2%;left:100%;}

    /*个人信息页面*/


    /*所有订单 */
    .indent{width:55% !important;}
    .content-bottom img{width:100%;}
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media all and (min-width:992px) and (max-width:1199px){

    /*导航*/
    /*.nav-user-portrait{margin:5px 0px 0 70%;}*/

    .vertical-moulding{position: absolute;top:2%;left:100%;}

     /*个人信息页面*/

    /*所有订单 */
    .indent{width:70% !important;}
    .content-bottom img{width:90%;}
}



 /* 小屏幕（平板，大于等于 768px） */
@media all and (min-width:768px) and (max-width:991px){  
    /*导航*/     
    /*.nav-user-portrait{margin:5px 0px 0 20%;}*/

    .vertical-moulding{position: absolute;top:2%;left:100%;}


    /*个人信息页面*/
    .FSW_Form_Group{margin-left: 28.5%;}


    /*眼镜刻字页*/
    .FSW_Lettering{margin-left:15%;}


    /*所有订单 */
    .indent{width:70% !important;}
    .content-bottom img{width:80%;}
    .bottom-right button{display: block;margin-left: auto; margin-right: auto;}


    /*服务信息页面*/
 	/*.FSW_Service{width:35%;}*/
 	.service{width:280px;}
 	.service button{left:170%;}

}

/* 超小屏幕（手机，小于 768px） */

/*@media all and (min-width:320px) and (max-width:767px){*/
@media all and (max-width:767px){


     /*个人信息页面*/
   
     .FSW_Form_Group{display: inline-block;margin-left:auto;margin-top:auto;}

     /*预约页面   */
    /*眼镜刻字页*/
    .lettering{margin-top: 50px !important;margin-bottom: 50px;}

 	.FSW_Lettering_Top{width:100% !important;border:1px solid #EBEBEB;margin:0 auto;} 
    .lettering-top{width:100% !important;} 

 	/*服务信息页面*/
 	.service{width:90%;margin-top: 100px;}
	.service button{left:95%;}


	/*所有订单 */
    .indent{width:100% !important;position: absolute;left:0% !important;}
    .content-bottom img{width:80%;}
    .bottom-right button{display: block;margin-left: auto; margin-right: auto;}



    /*改变当登录密码修改页面时手机状态下的样式*/
    .form-inline .form-group {
	    display: inline-block;
	    margin-bottom: 0;
	    vertical-align: middle;
	}
	.form-inline .form-control {
	    display: inline-block;
	    width: auto;
	    vertical-align: middle;
	}
	.form-inline .form-control-static {
	    display: inline-block;
	}
	.form-inline .input-group {
	    display: inline-table;
	    vertical-align: middle;
	}
	.form-inline .input-group .input-group-addon,
	.form-inline .input-group .input-group-btn,
	.form-inline .input-group .form-control {
	    width: auto;
	}
	.form-inline .input-group > .form-control {
	    width: 100%;
	}
	.form-inline .control-label {
	    margin-bottom: 0;
	    vertical-align: middle;
	}
	.form-inline .radio,
	.form-inline .checkbox {
	    display: inline-block;
	    margin-top: 0;
	    margin-bottom: 0;
	    vertical-align: middle;
	}
	.form-inline .radio label,
	.form-inline .checkbox label {
	    padding-left: 0;
	}
	.form-inline .radio input[type="radio"],
	.form-inline .checkbox input[type="checkbox"] {
	    position: relative;
	    margin-left: 0;
	}
	.form-inline .has-feedback .form-control-feedback {
	    top: 0;
	}
}





